{% extends 'base.html' %}

{% block content %}
<form class="column" method="post" style="flex: 2">
    {% csrf_token %}
    <div style="background-color: rgb(238, 236, 236); padding: 50px">
        <p>
            <b style="font-size: 50px; color: #900505">
                Add Roles
            </b>
            <i>
                Let your attendees know how they can help out!
            </i>
        </p>
        <br>
        <div>
            <label class="label" style="font-size:20px">
                {{ addRoles_form.as_div}}
                <input class="button has-text-warning is-pulled-right" style="background-color: #7f0000;" type="submit" value="Add Roles">

        </div>
    </div>
</form>
{% endblock %}
