{% extends 'planner/dashboard.html' %}

{% block tabs %}

    <li class="is-active">
        <a class="has-text-danger-dark" style="background-color: #ffd68b" id="All Events Filter">
            All Events
        </a>
    </li>

    <li><a href="{% url "planner:dashboard_my" %}" class="custom-text-color" style="color: #b41313">My Events</a></li>
    <li><a href="{% url "planner:dashboard_accepted" %}" class="custom-text-color" style="color: #b41313">Accepted Events</a></li>
    <li><a href="{% url "planner:dashboard_invited" %}" class="custom-text-color" style="color: #b41313">Invited Events</a></li>
{% endblock %}
