{% extends 'planner/dashboard.html' %}

{% block tabs %}
    <li><a href="{% url "planner:dashboard_all" %}" class="custom-text-color" style="color: #b41313">All Events</a></li>

    <li class="is-active">
        <a class="has-text-danger-dark" style="background-color: #ffd68b" id="My Events Filter">
            My Events
        </a>
    </li>

    <li><a href="{% url "planner:dashboard_accepted" %}" class="custom-text-color" style="color: #b41313">Accepted Events</a></li>
    <li><a href="{% url "planner:dashboard_invited" %}" class="custom-text-color" style="color: #b41313">Invited Events</a></li>
{% endblock %}
