{% extends 'base.html' %}

{% block content %}

    <div class="tabs is-boxed is-centered is-large">
        <ul>
            {% block tabs %}

            {% endblock %}
        </ul>
    </div>

    {% for event in event_list %}
        <div class="box has-background-warning has-text-danger m-5 is-parent">
            <div class="level">
                <div class="level-item">
                    <a
                            href="{% url 'planner:event_home' event.id %}"
                            class="has-text-weight-bold is-size-2 has-text-danger"
                            id="event-title-{{ forloop.counter }}">{{ event.name }}
                    </a>
                </div>
            </div>

            <div class="level">
                <div class="level-item is-size-4">
                    Hosted by: {{ event.owner.user }}
                </div>
                <div class="level-item is-size-4">
                    Where: {{ event.location }}
                </div>
                <div class="level-item is-size-4">
                    When: {{ event.date }}
                </div>
            </div>

            <div class="level">
                Description: {{ event.description }}
            </div>
        </div>
    {% endfor %}

{% endblock content %}
