{% extends 'base.html' %}

{% block content %}

    <form method="post">
        {% csrf_token %}

        {{ basic_details.as_div }}
        <br>
        <input class="button is-warning" type="submit" value="Save Changes">
    </form>
    <br>
    <form action="{% url 'planner:addRoles' %}">
        <input class="button is-warning" type="submit" value="Add Roles" />
    </form>
    <br>
    <form action="{% url 'planner:dashboard' %}">
        <input class="button is-warning" type="submit" value="Back to Dashboard" />
    </form>

{% endblock content %}
