{% extends 'base.html' %}

{% block content %}
    
    <style>
        .eventdtls input[type="text"] {
            padding: 5px;
            margin-bottom: 30px;
        }

        .event-description {
            padding: 4px;
        }
    </style>

    <div class="container is-max-desktop">
        <div class="tile is-child is-warning notification is-12" style="background-color: rgb(238, 236, 236)">
            <p style="font-size: 50px; color: #900505; font-weight: bold">
                Confirm Event Details
            </p>
            <br>
            <form class="eventdtls" method="post" style="font-weight: bold; font-size: 20px">
                {% csrf_token %}

                <label class="label" style="font-size: 20px">
                    Event Name:
                    <br>
                    {{ basic_details.event_name }}
                </label>

                <label class="label" style="font-size: 20px">
                    Event Date (yyyy-mm-dd):
                    <br>
                    {{ basic_details.event_date }}
                </label>
              
                <label class="label" style="font-size: 20px">
                    Event Description
                    <br>
                    {{ basic_details.event_description }}
                </label>

                <label class="label" style="font-size: 20px">
                    Event Location:
                    <br>
                    {{ basic_details.event_location }}
                </label>

                <br>
                <input class="button is-warning" type="submit" value="Save Changes"/>
            </form>

            <br>

            <form method="post" action="{% url 'planner:addRoles' %}">
                {% csrf_token %}
                <input class="button is-warning" type="submit" value="Add Roles" name="Add Roles"/>
            </form>

            <br>

            <form method="post">
                {% csrf_token %}
                <input class="button is-warning" type="submit" value="Add Invitees" name="Add Invitees"/>
            </form>
        </div>
    </div>

{% endblock %}
