{% extends 'base.html' %}

{% block content %}
<div class="container">
    <section class="box" style="background-color: #7f000065">
        <div class="hero-body">
            <section class="box" style="background-color: #eeb01e">
                <h1 class="title is-1">{{ event.name }}</h1>
            </section>
            <p>Description: {{ event.description }}</p>
            <p> Host: {{ event.owner.user }}</p>
            <p> Location: {{ event.location }}</p>
            <p> Date: {{ event.date }}</p>

            <p> Roles:
            <div class='list'> 
                <ul>
                    <div class='list-item'> 
                        {% for role in roles_list %}
                            <li class="px-6">  •{{ role.name }} </li>
                        {% endfor %}
                    </div>  
                </ul>
            </div>
            </p>
       
        </div>
    </section>


    <div class="container">
        <form action="{% url 'planner:dashboard' %}">
            <input type="submit" value="Back to Dashboard" />
        </form>
    </div>

   
</div>

{% endblock content %}