{% extends 'base.html' %}

{% block content %}


    <div class="container">
        <div class="container">
            <section class="box" style="background-color: #7f000065">
                <div class="hero-body">
                    <section class="box" style="background-color: #eeb01e">
                        <h1 class="title is-1" style="color: #7f0000">{{ event.name }}</h1>
                    </section>
                    <p>Description: {{ event.description }}</p>
                    <p> Host: {{ event.owner.user }}</p>
                    <p> Location: {{ event.location }}</p>
                    <p> Date: {{ event.date }}</p>
                    <p> Roles:
                        <div class='list'> 
                            <ul>
                                <div class='list-item'> 
                                    {% for role in roles_list %}
                                        <li class="px-6">  •{{ role.name }} </li>
                                        {% if user.profile in attendees %}
                                             <form method="post" action="{% url 'planner:signupRoles' role.id %}">
                                                {% csrf_token %}
                                                <button class="button is-small is-warning" type="submit" name="action" value="accept">Choose Role</button>
                                            </form>
                                           
                                        {% endif %}
                                    {% endfor %}
                                </div> 
                            </ul>  
                        </div>
                    </p>
                </div>
            </section>

            <div class="container">
                <div class="columns">
                    <div class="column is-6">
                        <form action="{% url 'planner:dashboard' %}">
                            <input class="button is-medium is-warning" type="submit" value="Back to Dashboard" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <br>

        {% if user.profile in invitees %}
            <div class="container">
                <form method="post" action="{% url 'planner:handle_event' event.id %}">
                    {% csrf_token %}
                    <button class="button is-medium is-warning" type="submit" name="action" value="accept">Accept Invite</button>
                    <button class="button is-medium is-warning" type="submit" name="action" value="decline">Decline Invite</button>
                </form>
            </div>
        {% endif %}

        <br>

        <div class="container">
            <div class="columns">
                <div class="column is-2">
                    <h2>Invitees:</h2>
                    <ul>
                        {% for invitee in invitees %}
                        <li>{{ invitee.user.username }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="column is-2">
                    <h2>Attendees:</h2>
                    <ul>
                        {% for attendee in attendees %}
                            <li>{{ attendee.user.username }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
