{% extends 'base.html' %}

{% block content %}

    <section class="section">
        <div class="container" style="background-color: #ebeaea; padding: 30px">
            <h1 class="title is-1 has-text-centered" style="color: #7f0000">{{ event.name }}</h1>
            <div class="content">
                <ul>
                    <p style="color:black; font-size:20px"><strong style="font-size:25px; color:#7f0000">Description:</strong> {{ event.description }}</p>
                    <p style="color:black; font-size:20px"><strong style="font-size:25px; color:#7f0000">Host:</strong> {{ event.owner.user }}</p>
                    <p style="color:black; font-size:20px"><strong style="font-size:25px; color:#7f0000">Location:</strong> {{ event.location }}</p>
                    <p style="color:black; font-size:20px"><strong style="font-size:25px; color:#7f0000">Date:</strong> {{ event.date }}</p>
                </ul>
            </div>

            <div class="columns">
                <div class="column has-text-left">
                    <h2 class="subtitle is-4">Attendees:</h2>
                    <ul>
                        {% for attendee in attendees %}
                            <li>{{ attendee.user.username }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="column has-text-left">
                    <h2 class="subtitle is-4">Invitees:</h2>
                    <ul>
                        {% for invitee in invitees %}
                            <li>{{ invitee.user.username }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="column has-text-left">
                    <h2 class="subtitle is-4">Roles:</h2>
                    <ul>
                        <div class='list-item'> 
                            {% for role in roles_list %}
                                <li>{{ role.name }}</li>
				                {% if user.profile in attendees %}
                                	 <form method="post" action="{% url 'planner:signupRoles' role.id %}">
                                         	{% csrf_token %}
                                                <button class="button is-small is-warning" type="submit" name="action" value="accept">Choose Role</button>
                                    </form>
                                {% endif %}
                            {% endfor %}
                                </div>
                            </div>        
                        </ul>
                        
                        <div class="column has-text-left">
                            <h2 class="subtitle is-4">My Roles:</h2>
                            <ul>
                                <div class='list-item'> 
                                    {% for sRoles in signedRoles %}
                                        <li>{{ sRoles.name }}</li>
                                    {% endfor %}
                                </div> 
                    </ul>  
                </div>
            </div>
        
            {% if user.profile in invitees %}
                <div class="buttons has-text-centered">
                    <form method="post" action="{% url 'planner:handle_event' event.id %}">
                        {% csrf_token %}
                        <button class="button is-medium is-warning" id="accept" type="submit" name="action" value="accept">Accept Invite</button>
                        <button class="button is-medium is-warning" id="decline" type="submit" name="action" value="decline">Decline Invite</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </section>

{% endblock %}
