{% extends 'base.html' %}

{% block content %}

    <div class="column">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form class="is-size-5" method="post" action="">
            {% csrf_token %}
            <input class="is-size-5" type="submit" value="Invite User" name="add" style="display: inline-block">
            <div style="display: inline-block">
                {{ invite_form.as_div }}
            </div>
        </form>

        <hr>
        <header class="is-size-3 has-text-centered">Current Invitations:</header>

         {% for invitee in invitees %}
            <div class="box">
                <form method="post" action="" style="display: inline-block;">
                    {% csrf_token %}
                    {{ invitee.uninvite_form.user_name.as_hidden }}
                    <input class="has-background-danger is-size-5" type="submit" value="Rescind Invitation" name="remove">
                </form>

                <p class="is-size-5" style="display: inline-block;">
                    {{ invitee.name }}
                </p>
            </div>
        {% endfor %}
    </div>





{% endblock content %}
