<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include the Bulma CSS framework for styling -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Planner</title>
</head>
<body>
    <section class="hero is-small mb-4" style="background-color: #eeb01e">
        <div class="hero-body">
            <h1 class="title is-1" style="color: #7f0000">Event Details!</h1>
            <p class="has-text-right subtitle is-4" style="color: #7f0000">
                {{ user }} is signed in
            </p>
            <form class="has-text-right" action="{% url 'login' %}">
                <input class="button is-default has-text-warning" style="background-color: #7f0000" type="submit" value="Logout" />
            </form>
        </div>
    </section>

    <div class="container">

            <div class="container">
                <section class="box" style="background-color: #7f000065">
                    <div class="hero-body">
                        <section class="box" style="background-color: #eeb01e">
                            <h1 class="title is-1" style="color: #7f0000">{{ event.name }}</h1>
                        </section>
                        <p>Description: {{ event.description }}</p>
                        <p> Host: {{ event.owner.user }}</p>
                        <p> Location: {{ event.location }}</p>
                        <p> Date: {{ event.date }}</p>
                        <p> Roles:
                            <div class='list'> 
                                <ul>
                                    <div class='list-item'> 
                                        {% for role in roles_list %}
                                            <li class="px-6">  •{{ role.name }} </li>
                                        {% endfor %}
                                    </div> 
                                </ul>  
                            </div>
                        </p>
                    </div>
                </section>

                <div class="container">
                    <form method="post">
                        {% csrf_token %}
                        <input class="button is-medium is-warning" type="submit" value="Edit Event" name="Edit Event" id="edit-event">
                    </form>
                    <br>
                    <form action="{% url 'planner:dashboard' %}">
                        <input class="button is-medium is-warning" type="submit" value="Back to Dashboard" />
                    </form>
                </div>
            </div>

    </div>
</body>
</html>
