{% extends 'base.html' %}

{% block content %}
    <div class="container" style="margin:30px">

        <form method="post" action="{% url "planner:event_creation" %}">
            {% csrf_token %}

            <div>
                <label class="label">
                    Event Name (30 characters max):
                </label>
                {{ event_creation_form.event_name.errors }}
                {{ event_creation_form.event_name }}
            </div>
            <div>
                <label class="label">
                    Event Date (dd/mm/yyyy hh:mm):
                </label>
                {{ event_creation_form.event_date }}
                {{ event_creation_form.event_date.errors }}
            </div>
            <div>
                {{ event_creation_form.event_description.errors }}
                <label class="label">
                    Event Description (200 characters max):
                </label>
                {{ event_creation_form.event_description }}
            </div>
            <div>
                {{ event_creation_form.event_location.errors }}
                <label class="label">
                    Event Location (50 characters max):
                </label>
                {{ event_creation_form.event_location }}
            </div>

            <br>

            <div>
                <input class="button is-warning" type="submit" value="Create Event">
            </div>
            <br>
        </form>

        <div>
            <form action="{% url 'planner:dashboard' %}">
                <input class="button is-warning" type="submit" value="Back to Dashboard" />
            </form>
        </div>
    </div>
{% endblock %}
