{% extends 'base.html' %}

{% block content %}

    <p>
        Current invitees:
    </p>

    <div class="column">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="post" action="">
            {% csrf_token %}
            {{ invite_form.as_div }}
            <input type="submit" value="Invite User" name="add">
        </form>

         {% for invitee in invitees %}
            <div class="box">
                {{ invitee.name }}
                <form method="post" action="">
                    {% csrf_token %}
                    {{ invitee.uninvite_form.user_name.as_hidden }}
                    <input type="submit" value="Uninvite User" name="remove">
                </form>
            </div>
        {% endfor %}
    </div>





{% endblock content %}
